/*base*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../fotos/foto-fondo.jpg);
  color: white;
  font-family: "Bodoni Moda", serif;
}

/*mixin*/
/*mixin*/
/*layout*/
/* layout con grid de todas las paginas*/
body {
  display: grid;
  grid-template-areas: "navb" "body" "footer";
}
body nav {
  grid-area: navb;
  font-size: 20px;
  display: inline-block;
  background-color: black;
  position: sticky;
  width: 100%;
  /* cambiar el color de los links de la nav bar */
}
body nav ul {
  padding: 0px;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body nav ul li {
  list-style-type: none;
  text-decoration: none;
}
body nav ul li a {
  text-decoration: none;
  color: white;
}
body nav ul li a img {
  width: 100px;
  height: 100px;
}
body .body {
  grid-area: body;
  display: flex;
  flex-direction: column;
}
body .body .titlee {
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}
body footer {
  grid-area: footer;
  margin: 50px;
  padding-top: 50px;
  border-top: solid 1px grey;
}
body footer h3 a {
  color: white;
}

/*pages*/
/* parte de index */ /* agregar grid gigante*/
.mainHome h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mainHome h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homePhotos .row {
  margin: 20px;
}

/*parte de menu*/
.bodymenu {
  align-items: center;
}
.bodymenu .contDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bodymenu .contDiv .menuDiv {
  width: 400px;
  border: solid 2px white;
  border-radius: 20px;
  display: flex;
  margin: 30px;
}
.bodymenu .contDiv .menuDiv img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
.bodymenu .contDiv .menuDiv .pizzaName {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}
.bodymenu .contDiv .menuDiv .pizzaName h2 {
  font-size: 22px;
}
.bodymenu .contDiv .menuDiv .pizzaName h3 {
  font-size: 17px;
}

/* parte de contacto*/
.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainInfo .contactUbi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.mainInfo .contactUbi iframe {
  width: 450px;
  height: 450px;
  border: solid 2px white;
  border-radius: 20px;
}
.mainInfo .contactUbi h2 {
  width: 450px;
  margin-left: 20px;
}
.mainInfo .logoPlusInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.mainInfo .logoPlusInfo img {
  height: 50px;
  width: 50px;
}
.mainInfo .logoPlusInfo h2 {
  margin-left: 20px;
}
.mainInfo h3 {
  width: 900px;
  align-items: center;
  display: inline;
  font-size: 40px;
  text-align: justify;
  margin-bottom: 40px;
  margin-top: 40px;
}
.mainInfo form {
  border: solid 2px white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.mainInfo form legend {
  width: auto;
  font-size: 40px;
  border-bottom: solid 2px white;
}
.mainInfo form ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.mainInfo form ul li {
  margin-bottom: 20px;
}
.mainInfo form ul li label {
  font-size: 40px;
}
.mainInfo form ul li input {
  height: 50px;
  width: 400px;
}

/* parte de informacion extra*/
.divMasa, .divMasa-rowReverse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.divMasa img, .divMasa-rowReverse img {
  height: 450px;
  width: 450px;
  border: solid 2px white;
  border-radius: 20px;
}
.divMasa .masaFlex, .divMasa-rowReverse .masaFlex {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  text-align: justify;
}
.divMasa .masaFlex ol, .divMasa-rowReverse .masaFlex ol {
  padding: 0px;
}
.divMasa .masaFlex ul, .divMasa-rowReverse .masaFlex ul {
  padding: 0px;
}
.divMasa iframe, .divMasa-rowReverse iframe {
  height: 450px;
  width: 450px;
  border: solid 2px white;
  border-radius: 20px;
}

.divMasa-rowReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.divMasa-rowReverse .divIdeas {
  width: 450px;
  height: 450px;
  border: solid 2px white;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-areas: "verdes papas papas" "verdes anana anana" "tomates tomates bocaccino";
}
.divMasa-rowReverse .divIdeas #foto-anana {
  grid-area: anana;
  width: 300px;
  height: 150px;
}
.divMasa-rowReverse .divIdeas #foto-bocaccino {
  grid-area: bocaccino;
  width: 150px;
  height: 150px;
}
.divMasa-rowReverse .divIdeas #foto-hojasv {
  grid-area: verdes;
  width: 150px;
  height: 300px;
}
.divMasa-rowReverse .divIdeas #foto-papasyhuevo {
  width: 300px;
  height: 150px;
  grid-area: papas;
}
.divMasa-rowReverse .divIdeas #foto-tomates {
  grid-area: tomates;
  width: 300px;
  height: 150px;
}
.divMasa-rowReverse .masaFlex {
  margin-left: 0px;
  margin-right: 20px;
}

/* parte de nosotros*/
.titlee {
  text-align: center;
}

.infoNos, .infoNos-rowReverse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.infoNos img, .infoNos-rowReverse img {
  width: 450px;
  height: 450px;
  border: solid 2px white;
  border-radius: 20px;
}
.infoNos .textoNos, .infoNos-rowReverse .textoNos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: 20px;
}
.infoNos .textoNos h3, .infoNos-rowReverse .textoNos h3 {
  text-align: justify;
}

.infoNos-rowReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.infoNos-rowReverse .textoNos {
  margin-left: 0px;
  margin-right: 20px;
}

/*medias queries*/
@media screen and (max-width: 1024px) {
  /*menu*/
  .bodymenu .contDiv .menuDiv {
    width: 300px;
    margin: 15px;
  }
  .bodymenu .contDiv .menuDiv img {
    height: 150px;
    width: 150px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName {
    margin: 5px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName h2 {
    font-size: 18px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName h3 {
    font-size: 12px;
  }
  /*nosotros*/
  .infoNos img, .infoNos-rowReverse img {
    width: 310px;
    height: 310px;
  }
  .infoNos .textoNos, .infoNos-rowReverse .textoNos {
    width: 310px;
  }
  .infoNos .textoNos h2, .infoNos-rowReverse .textoNos h2 {
    font-size: 25px;
  }
  .infoNos .textoNos h3, .infoNos-rowReverse .textoNos h3 {
    font-size: 18px;
  }
  .infoNos-rowReverse img {
    width: 310px;
    height: 310px;
  }
  .infoNos-rowReverse .textoNos {
    width: 310px;
  }
  .infoNos-rowReverse .textoNos h2 {
    font-size: 25px;
  }
  .infoNos-rowReverse .textoNos h3 {
    font-size: 18px;
  }
  /* parte de informacion extra*/
  .divMasa img, .divMasa-rowReverse img {
    height: 300px;
    width: 300px;
  }
  .divMasa .masaFlex, .divMasa-rowReverse .masaFlex {
    width: 320px;
  }
  .divMasa .masaFlex h2, .divMasa-rowReverse .masaFlex h2 {
    font-size: 18px;
  }
  .divMasa .masaFlex h3, .divMasa-rowReverse .masaFlex h3 {
    font-size: 13px;
  }
  .divMasa iframe, .divMasa-rowReverse iframe {
    height: 300px;
    width: 300px;
  }
  .divMasa-rowReverse .divIdeas {
    width: 300px;
    height: 300px;
  }
  .divMasa-rowReverse .divIdeas #foto-anana {
    width: 200px;
    height: 100px;
  }
  .divMasa-rowReverse .divIdeas #foto-bocaccino {
    width: 100px;
    height: 100px;
  }
  .divMasa-rowReverse .divIdeas #foto-hojasv {
    width: 100px;
    height: 200px;
  }
  .divMasa-rowReverse .divIdeas #foto-papasyhuevo {
    width: 200px;
    height: 100px;
  }
  .divMasa-rowReverse .divIdeas #foto-tomates {
    width: 200px;
    height: 100px;
  }
  .divMasa-rowReverse .masaFlex {
    width: 320px;
  }
  .divMasa-rowReverse .masaFlex h2 {
    font-size: 18px;
  }
  .divMasa-rowReverse .masaFlex li {
    font-size: 13px;
  }
  /*contacto*/
  .mainInfo .contactUbi iframe {
    width: 300px;
    height: 300px;
  }
  .mainInfo .contactUbi h2 {
    width: 300px;
    font-size: 25px;
  }
  .mainInfo h3 {
    width: 600px;
    font-size: 25px;
  }
  .mainInfo form {
    width: 600px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .mainInfo form legend {
    font-size: 35px;
  }
  .mainInfo form ul li label {
    font-size: 30px;
  }
  .mainInfo form ul li input {
    height: 40px;
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  /*Nav bar*/
  body nav {
    font-size: 10px;
  }
  body nav ul li a img {
    width: 50px;
    height: 50px;
  }
  body .body .titlee {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*index*/
  .mainHome h1 {
    font-size: 75px;
  }
  .mainHome h2 {
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /*menu*/
  .bodymenu .contDiv {
    flex-direction: column;
  }
  .bodymenu .contDiv .menuDiv {
    width: 400px;
    margin: 20px;
  }
  .bodymenu .contDiv .menuDiv img {
    height: 200px;
    width: 200px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName {
    margin: 15px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName h2 {
    font-size: 22px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName h3 {
    font-size: 17px;
  }
  /*nosotros*/
  .infoNos, .infoNos-rowReverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .infoNos img, .infoNos-rowReverse img {
    width: 400px;
    height: 400px;
  }
  .infoNos .textoNos, .infoNos-rowReverse .textoNos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: 0px;
    margin-top: 15px;
  }
  /*contacto*/
  .mainInfo .contactUbi {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .mainInfo .contactUbi iframe {
    width: 400px;
    height: 400px;
  }
  .mainInfo .contactUbi h2 {
    width: 400px;
  }
  .mainInfo h3 {
    width: 400px;
  }
  .mainInfo form {
    width: 400px;
  }
  .mainInfo form legend {
    font-size: 25px;
  }
  .mainInfo form ul li label {
    font-size: 18px;
  }
  .mainInfo form ul li input {
    height: 25px;
    width: 220px;
  }
  /*informacion*/
  .divMasa, .divMasa-rowReverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .divMasa img, .divMasa-rowReverse img {
    height: 400px;
    width: 400px;
  }
  .divMasa .masaFlex, .divMasa-rowReverse .masaFlex {
    width: 400px;
    margin-top: 40px;
    margin-left: 0px;
  }
  .divMasa .masaFlex h2, .divMasa-rowReverse .masaFlex h2 {
    font-size: 25px;
  }
  .divMasa .masaFlex h3, .divMasa-rowReverse .masaFlex h3 {
    font-size: 20px;
  }
  .divMasa iframe, .divMasa-rowReverse iframe {
    height: 400px;
    width: 400px;
    margin-top: 20px;
  }
  .divMasa-rowReverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divMasa-rowReverse .divIdeas {
    width: 400px;
    height: 400px;
  }
  .divMasa-rowReverse .divIdeas #foto-anana {
    width: 266px;
    height: 133px;
  }
  .divMasa-rowReverse .divIdeas #foto-bocaccino {
    width: 133px;
    height: 133px;
  }
  .divMasa-rowReverse .divIdeas #foto-hojasv {
    width: 133px;
    height: 266px;
  }
  .divMasa-rowReverse .divIdeas #foto-papasyhuevo {
    width: 266px;
    height: 133px;
  }
  .divMasa-rowReverse .divIdeas #foto-tomates {
    width: 266px;
    height: 133px;
  }
  .divMasa-rowReverse .masaFlex {
    width: 400px;
    margin-top: 40px;
    margin-right: 0px;
  }
  .divMasa-rowReverse .masaFlex h2 {
    font-size: 25px;
  }
  .divMasa-rowReverse .masaFlex li {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  /*index*/
  .mainHome h1 {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mainHome h2 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .homePhotos .row img {
    margin: 10px;
  }
  /*menu*/
  .bodymenu .contDiv {
    flex-direction: column;
  }
  .bodymenu .contDiv .menuDiv {
    width: 300px;
    margin: 15px;
  }
  .bodymenu .contDiv .menuDiv img {
    height: 150px;
    width: 150px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName {
    margin: 10px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName h2 {
    font-size: 15px;
  }
  .bodymenu .contDiv .menuDiv .pizzaName h3 {
    font-size: 10px;
  }
  /*nosotros*/
  .infoNos, .infoNos-rowReverse {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .infoNos img, .infoNos-rowReverse img {
    width: 300px;
    height: 300px;
  }
  .infoNos .textoNos, .infoNos-rowReverse .textoNos {
    width: 300px;
    margin-left: 15pxpx;
    margin-top: 15px;
  }
  /*informacion*/
  .divMasa, .divMasa-rowReverse {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .divMasa img, .divMasa-rowReverse img {
    height: 300px;
    width: 300px;
  }
  .divMasa .masaFlex, .divMasa-rowReverse .masaFlex {
    width: 300px;
  }
  .divMasa .masaFlex h2, .divMasa-rowReverse .masaFlex h2 {
    font-size: 22px;
  }
  .divMasa .masaFlex li, .divMasa-rowReverse .masaFlex li {
    font-size: 17px;
  }
  .divMasa .masaFlex h3, .divMasa-rowReverse .masaFlex h3 {
    font-size: 17px;
  }
  .divMasa iframe, .divMasa-rowReverse iframe {
    height: 300px;
    width: 300px;
  }
  .divMasa-rowReverse .masaFlex {
    width: 300px;
  }
  .divMasa-rowReverse .masaFlex h2 {
    font-size: 22px;
  }
  .divMasa-rowReverse .masaFlex li {
    font-size: 17px;
  }
  .divMasa-rowReverse .divIdeas {
    width: 300px;
    height: 300px;
  }
  .divMasa-rowReverse .divIdeas #foto-anana {
    width: 200px;
    height: 100px;
  }
  .divMasa-rowReverse .divIdeas #foto-bocaccino {
    width: 100px;
    height: 100px;
  }
  .divMasa-rowReverse .divIdeas #foto-hojasv {
    width: 100px;
    height: 200px;
  }
  .divMasa-rowReverse .divIdeas #foto-papasyhuevo {
    width: 200px;
    height: 100px;
  }
  .divMasa-rowReverse .divIdeas #foto-tomates {
    width: 200px;
    height: 100px;
  }
  /*contacto*/
  .mainInfo .contactUbi iframe {
    width: 300px;
    height: 300px;
  }
  .mainInfo .contactUbi h2 {
    width: 300px;
  }
  .mainInfo h3 {
    width: 300px;
  }
  .mainInfo form {
    width: 300px;
  }
  .mainInfo form legend {
    font-size: 20px;
  }
  .mainInfo form ul li label {
    font-size: 16px;
  }
  .mainInfo form ul li input {
    height: 20px;
    width: 160px;
  }
}

/*# sourceMappingURL=style.css.map */
