/*base*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../fotos/foto-fondo.jpg);
  color: white;
  font-family: "Bodoni Moda", serif;
  text-align: justify;
}

/*layout*/
/* layout con grid de todas las paginas*/
body {
  display: grid;
  grid-template-areas: "nav" "body" "footer";
}
body nav {
  grid-area: nav;
  font-size: 20px;
  display: inline-block;
  background-color: black;
  position: sticky;
  width: 100%;
  /* cambiar el color de los links de la nav bar */
}
body nav ul {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body nav ul li {
  list-style-type: none;
  text-decoration: none;
}
body nav ul li a {
  text-decoration: none;
}
body nav ul li .fotoNav {
  width: 100px;
  height: 100px;
}
body .body {
  grid-area: body;
  display: flex;
  flex-direction: column;
}
body .body .titlee {
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}
body footer {
  grid-area: footer;
  margin: 50px;
  padding-top: 50px;
  border-top: solid 1px grey;
}

/*pages*/
/* parte de index */ /* agregar grid gigante*/
.mainHome h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mainHome h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*parte de menu*/
.menuDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  /*background-color: grey;
  border-radius: 20px;
  box-shadow: 1px;
  margin: 15px;
  height: 700px;


  display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;*/
}

.contDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pizzaName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* parte de contacto*/
.contactUbi {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#ubih {
  width: 500px;
  margin-left: 50px;
}

.logoPlusInfo img {
  width: 50px;
  height: 50px;
}

.logoPlusInfo {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
}

.logoPlusInfo h2 {
  margin-left: 50px;
}

.mainInfo h3 {
  margin: 50px;
}

/* parte de informacion extra*/
.divMasa {
  margin-bottom: 100px;
}

.sectIdeas {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}

.masaFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.masaFlex ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.masaFlex ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* grid example*/
.divIdeas {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-areas: "verdes papas papas" "verdes anana anana" "tomates tomates bocaccino";
}

#foto-anana {
  grid-area: anana;
  width: 333px;
  height: 166px;
}

#foto-bocaccino {
  grid-area: bocaccino;
  width: 166px;
  height: 166px;
}

#foto-hojasv {
  grid-area: verdes;
  width: 166px;
  height: 333px;
}

#foto-papasyhuevo {
  width: 333px;
  height: 166px;
  grid-area: papas;
}

#foto-tomates {
  grid-area: tomates;
  width: 333px;
  height: 166px;
}

/* parte de nosotros*/
.body .infoNos {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}
.body .infoNos .texto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body .infoNos .texto1 h2 {
  margin-bottom: 100px;
}
.body .InfoNos {
  margin-bottom: 50px;
}
.body .InfoNos .texto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body .InfoNos .texto1 h2 {
  margin-bottom: 100px;
}

/*medias queries*/
@media screen and (max-width: 1100px) {
  .divIdeas {
    width: 350px;
    height: 350px;
  }
  .gridIdeas {
    display: flex;
    justify-content: center;
  }
  #foto-anana {
    width: 233px;
    height: 116px;
  }
  #foto-bocaccino {
    width: 116px;
    height: 116px;
  }
  #foto-hojasv {
    width: 116px;
    height: 233px;
  }
  #foto-papasyhuevo {
    width: 233px;
    height: 116px;
  }
  #foto-tomates {
    width: 233px;
    height: 116px;
  }
}
@media screen and (max-width: 768px) {
  /*Nav bar*/
  nav {
    font-size: 10px;
  }
  .fotoNav {
    width: 50px;
    height: 50px;
  }
  .titlee {
    font-size: 27px;
  }
  /*menu*/
  .pizzaName {
    margin-top: 50px;
  }
  .masaFlex {
    margin-top: 50px;
  }
  .masaFlex ol {
    margin-top: 25px;
  }
  .masaFlex ul {
    margin-top: 25px;
  }
  /*Nosotros*/
  .texto1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
