/* layout con grid de todas las paginas*/
body {
    display: grid;
    grid-template-areas: "nav" "body" "footer";

    nav {
        div {
            a {
                img {
                    height: 50px;
                    width: 50px;
                }
            }
            .nav-link {
                font-size: 22px;
                color: gray;
            }
        }
       
    }  
    
    .body {
        grid-area: body;
        display: flex;
        flex-direction: column;
        .titlee {
            font-size: 50px;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }
    footer{
        grid-area: footer;
        margin: 50px;
        padding-top: 50px;
        border-top: solid 1px grey;
        h4 {
            font-size: 18px;
        }
        h3 {
            a {
                font-size: 22px;
                color: grey;
                text-align: middle;
                
            }
        }
    }
}