@media screen and (max-width: 768px) {
    /*Nav bar*/

   nav { 
    ul {
        font-size: 10px;
        li{
            a {
                img {
                    height: 50px;
                    width: 50px;
                }
            }
            }
        }  

   }
   
    .titlee {
        font-size: 27px;
    }
    /*menu*/
    .pizzaName {
         margin-top: 50px;
    }
 
    .masaFlex{
     margin-top: 50px;
    }
 
    .masaFlex ol {
     margin-top: 25px;
    }
    .masaFlex ul {
     margin-top: 25px;
    }
 
    /*Nosotros*/
    .texto1 {
     margin-top: 50px;
     margin-bottom: 50px;
    }
 
 }