@media screen and (max-width: 768px) {
    /*Nav bar*/
    nav {
     font-size: 10px; 
    }
    .fotoNav {
     width: 50px;
     height: 50px;
 }
 
     /*menu*/
     .pizzaName {
         margin-top: 50px;
     }
 
    .masaFlex{
     margin-top: 50px;
    }
 
    .masaFlex ol {
     margin-top: 25px;
    }
    .masaFlex ul {
     margin-top: 25px;
    }
 
    /*Nosotros*/
    .texto1 {
     margin-top: 50px;
     margin-bottom: 50px;
    }
 
 }