@media screen and (max-width: 768px) {
    /*Nav bar*/

  
   
   body {
    nav{
        font-size: 10px; 
        ul{
            li {
                a {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }  
        }
    }
    .body {
        .titlee {
            font-size: 25px;
            margin:25px;
        }
    }
   }

   /*menu*/
    .bodymenu {
        .contDiv {
            flex-direction: column;
            .menuDiv{
                width: 400px;
                margin: 20px;
                img {
                    height: 200px;
                    width: 200px;
                }
                .pizzaName {
                    margin: 15px;
                    h2 {
                        font-size: 22px;
                    }
                    h3 {    
                        font-size: 17px;
                    }
                        
                }

            }
        }
    }
   

    /*Nosotros*/
    .texto1 {
     margin-top: 50px;
     margin-bottom: 50px;
    }
 

    /*menu*/

    
        
}