@media (max-width: 480px) {
    /*index*/
    .mainHome { 
        h1 {
            font-size: 60px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        h2 {
            font-size: 25px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    /*menu*/
    .bodymenu {
        .contDiv {
            flex-direction: column;
            .menuDiv{
                flex-direction: column;
                width: 300px;
                height: 600px;
                margin: 15px;
                img {
                    height: 300px;
                    width: 300px;
                }
                .pizzaName {

                    margin: 20px;
                    h2 {
                        font-size: 30px;
                    }
                    h3 {    
                        font-size: 26px;
                    }         
                }
            }
        }
    }
    /*nosotros*/
    .infoNos {
        margin-bottom: 30px;
        margin-top: 30px;
        img {
            width: 300px;
            height: 300px;   
        }
        .textoNos {
            width: 300px;
            margin-left: 15px;
            margin-top: 15px;
        }
    }
    /*informacion*/
    .divMasa {
        margin-top: 30px;
        margin-bottom: 30px;
        img {
            height: 300px;
            width: 300px;
        }
        .masaFlex {
            width: 300px;
            h2 {
                font-size: 22px;
            }
            li {
                font-size: 17px;
            }
            h3 {
                font-size: 17px;
            }
        } 
        iframe {
            height: 300px;
            width: 300px;
        }
    }
    .divMasa-rowReverse {
        .masaFlex {
            width: 300px;
            h2 {
                font-size: 22px;
            }
            li {
                font-size: 17px;
            }
        }
        .divIdeas {
            width: 300px;
            height: 300px;
            #foto-anana {
                width: 200px;
                height: 100px;
            }
            #foto-bocaccino {
                width: 100px;
                height: 100px;
            }
            #foto-hojasv {
                width: 100px;
                height: 200px;
            }
            #foto-papasyhuevo{
                width: 200px;
                height: 100px;
            }
            #foto-tomates{
                width: 200px;
                height: 100px;
            }
        } 
    }
    /*contacto*/
    .mainInfo {
        .contactUbi {
            iframe {
                width: 300px;
                height: 300px;
            }
            h2 {
                width: 300px;
            }
        }
        h3 {
            width: 300px;
        }
        form {
            width: 300px;
            legend {
                font-size: 20px;
            }
            ul {
                li {
                    label {
                        font-size: 16px;
                    }
                    input {
                        height: 20px;
                        width: 160px;
                    }
                }
            }
        }    
    }
}