@media screen and (max-width:1024px) {
    /*menu*/
    .bodymenu {
        .contDiv {
            flex-direction: column;
            .menuDiv{
                width: 600px;
                margin: 15px;
                img {
                    height: 300px;
                    width: 300px;
                }
                .pizzaName {
                    margin: 20px;
                    h2 {
                        font-size: 30px;
                    }
                    h3 {    
                        font-size: 26px;
                    }            
                }
            }
        }
    }
    /*nosotros*/
    .infoNos {
        img {
            width: 310px;
            height: 310px;
        }
        .textoNos {
            width: 310px;
            h2 {
                font-size: 25px;
            }
            h3 {
                font-size: 18px;
            }   
        }
    }
   .infoNos-rowReverse {
        img {
            width: 310px;
            height: 310px;
        }
       .textoNos {
            width: 310px;
            h2 {
                font-size: 25px;
            }
            h3 {
                font-size: 18px;
            }   
        }
    }
    /* parte de informacion extra*/
    .divMasa {
        img {
            height: 400px;
            width: 320px;
        }
        .masaFlex {
            width: 320px;
            h2 {
                font-size: 22px;
            }
            h3 {
                font-size: 20px;
            }
        }     
        iframe {
            height: 300px;
            width: 300px;
        }
    }
    .divMasa-rowReverse {
        .divIdeas {
            width: 300px;
            height: 300px;
            #foto-anana {
                width: 200px;
                height: 100px;
            }
            #foto-bocaccino {
                width: 100px;
                height: 100px;
            }
            #foto-hojasv {
                width: 100px;
                height: 200px;
            }
            #foto-papasyhuevo{
                width: 200px;
                height: 100px;
            }
            #foto-tomates{
                width: 200px;
                height: 100px;
            }
        }   
        .masaFlex {
            width: 320px;
            h2 {
                font-size: 18px;
            }
            li {
                font-size: 13px;
            }
        }
    }
    /*contacto*/
    .mainInfo {
        .contactUbi {
            iframe {
                width: 300px;
                height: 300px;
            }
            h2 {
                width: 300px;
                font-size: 25px;
            }
        }
        h3 {
            width: 600px;
            font-size: 25px;
        }
        form {
            width: 600px;
            margin-bottom: 40px;
            margin-top: 40px;
            legend{
                font-size: 35px;
            }
            ul {
                li {
                    label {
                        font-size: 30px;
                    }
                    input {
                        height: 40px;
                        width: 300px;
                    }
                }
            }
        }
    }
}