@media screen and (max-width:1100px) {
   
    .divIdeas {
        width: 350px;
        height: 350px;
    }

    .gridIdeas {
        display: flex;
         justify-content: center;
    }
    #foto-anana {
        width: 233px;
        height: 116px;
    }
    #foto-bocaccino {
        width: 116px;
        height: 116px;
    }
    #foto-hojasv {
        width: 116px;
        height: 233px;
    }
    #foto-papasyhuevo{
        width: 233px;
        height: 116px;
    }
    #foto-tomates{
        width: 233px;
        height: 116px;
    }
    

}
