/* parte de contacto*/


.mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contactUbi {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 40px;
        iframe {
            width: 450px;
            height: 450px;
            border: solid 2px white;
            border-radius: 20px;
        }
        h2 {
            width: 450px;
            margin-left: 20px;
        }
    
    }
    .logoPlusInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 40px;
        img {
            height: 50px;
            width: 50px;
        }
        h2 {
            margin-left: 20px;
        }
    }
    h3 {
        width: 900px;
        align-items: center;
        display: inline;
        font-size: 40px;
        text-align: justify;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    form {
        border: solid 2px white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 900px;
        margin-bottom: 40px;
        margin-top: 40px;
        legend {
            width: auto;
            font-size: 40px;
            border-bottom: solid 2px white;
        }
        ul {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            li {
               margin-bottom: 20px;
                label {
                    font-size: 40px;
                }
                input {
                    height: 50px;
                    width: 400px;
                }
            }
        }
    }
}

