/* parte de index */ /* agregar grid gigante*/
.mainHome { 
    h1 {
        font-size: 100px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h2 {
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.homePhotos {
    .row {
        margin-left: 20px;
        margin-right: 20px;
        img {
            margin-bottom: 20px;
        }
    }
}
