/* parte de informacion extra*/

.divMasa {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 20px;
    margin-top: 20px;

    img {
        height: 450px;
        width: 450px;
        border: solid 2px white;
        border-radius: 20px;
    }
    .masaFlex {
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        text-align: justify;
    }
    .divIdeas {
        width: 450px;
        height: 450px;
        border: solid 2px white;
        border-radius: 20px;

        margin-bottom: 20px;
        margin-top: 20px;

        display: grid;
        grid-template-areas: "verdes papas papas" "verdes anana anana"
        "tomates tomates bocaccino";
        #foto-anana {
            grid-area: anana;
            width: 300px;
            height: 150px;
        }
        #foto-bocaccino {
            grid-area: bocaccino;
            width: 150px;
            height: 150px;
        }
        #foto-hojasv {
            grid-area: verdes;
            width: 150px;
            height: 300px;
        }
        #foto-papasyhuevo{
            width: 300px;
            height: 150px;
            grid-area: papas;
        }
        #foto-tomates{
            grid-area: tomates;
            width: 300px;
            height: 150px;
        }
    }      
}
