/*parte de menu*/
.menuDiv {
    display: flex; 
     flex-direction: row; 
     justify-content:flex-start;
     align-items: center;
    margin-bottom: 50px;  

     /*background-color: grey;
    border-radius: 20px;
    box-shadow: 1px;
    margin: 15px;
    height: 700px;


    display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;*/


}
.contDiv {
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}

.pizzaName{ 
    display: flex;
     flex-direction: column;
     justify-content: flex-start; 
}
