/*parte de menu*/

.bodymenu { 
    align-items: center;
    .contDiv {
        display: flex;
         flex-direction: row;
         justify-content: center;
    
        .menuDiv {
            width: 400px;
            border: solid 2px white;
            border-radius: 20px;
            display: flex;
            margin: 30px;
            img {
                height: 200px;
                width: 200px;
                border-radius: 20px;
            }
            .pizzaName {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 10px;
                h2 {
                    font-size: 22px;
                }
                h3 {
                    font-size: 17px;
                }
            }
        }
    }
}
