/*parte de menu*/
.menuDiv {
    display: flex; 
     flex-direction: row; 
     justify-content:flex-start;
     align-items: center;
    margin-bottom: 50px;  
}

.pizzaName{ 
    display: flex;
     flex-direction: column;
     justify-content: flex-start; 
}
